<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/employee_styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/problems.js" defer></script>
    <script src="../js/search-functions.js" defer></script>
</head>

<body>
    <div class="text-center image-div">
        <img class="text-center logo" src="../../images/logo.png" alt="make-it-all">
    </div>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-links">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-links">
                <ul class="navbar-nav">
                    <% if (role == 'specialist' || role == 'employee') { %>
                        <li class="nav-item px-4"><a href="../myProblems" class="nav-link">Home</a></li>
                    <% } else { %>
                        <li class="nav-item px-4"><a href="../dashboard" class="nav-link">Home</a></li>
                    <% } %>
                    
                    <% if (role == 'specialist' || role == 'employee') { %>
                        <li class="nav-item px-4"><a href="../submitProblem" class="nav-link">Submit a Problem</a></li>
                    <% } %>
                    <li class="nav-item px-4"><a href="../allProblems" class="nav-link">All Problems</a></li>
                    <% if (role == 'admin') { %>
                        <li class="nav-item px-4"><a href="../allEmployees" class="nav-link">All Employees</a></li>
                        <li class="nav-item px-4"><a href="/problem-type/manage-problem-types" class="nav-link">Edit problem types</a></li>
                        <li class="nav-item px-4"><a href="../create-employee" class="nav-link">New Employee</a></li>
                    <% } %>
                    <% if (role == 'admin' || role == 'specialist' || role == 'employee') { %>
                        <li class="nav-item px-4"><a href="../viewEquipment" class="nav-link">Equipment</a></li>
                    <% } %>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown px-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <!-- Render user's username -->
                            <%= userName %> 
                        </a>
                        <ul class="dropdown-menu bg-dark dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="../settings">Settings</a></li>
                          <li><a class="dropdown-item" href="../logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <label for="equipment-search">Equipment Name, Type, License or Serial Number:</label>
                <input type="text" id="equipment-search" name="equipment-search" class="form-control">
            </div>                
            <div class="col-4">
                <label for="equipment-type-list">Equipment Type:</label>
                <select id="equipment-type-list" name="equipment-type-list" class="form-select">
                    <option selected value="all">Equipment Type</option>
                    <option value="hardware">Hardware</option>
                    <option value="software">Software</option>
                    <option value="os">Operating System</option>
                </select>
            </div>
            <div class="col-2">
                <br>
                <button id="search-equipment-button" name="search" value="Search"
                    class="btn btn-dark w-100 px-0 px-m-3">Search</button>
            </div>
        </div>
    </div>
    <br>
    <% if (role == 'admin') { %> <!-- Allow add form only for admins -->
    <br>
    <div class="container hardware-container">
        <div class="container">
            <table class="all-problem-table table table-bordered accordion">
                <tbody id="view-addHardware-table">
                    <tr class="visible-row accordion" data-bs-toggle="collapse">
                        <td>Add Hardware</td>
                    </tr> 
                    <tr class="accordion-collapse collapse" data-bs-parent=".all-problem-table">
                        <td class="hidden-data" colspan="4"> 
                            <div class="accordion-collapse collapse" data-bs-parent=".all-problem-table">
                                <form action="/addHardware" method="POST">
                                    <table class="hidden-table table table-striped table-bordered">
                                        <tr>
                                            <th>Add New</th>
                                            <td>Enter Fields:</td>
                                        </tr>
                                        <tr>
                                            <td>Name:</td>
                                            <td><input type="text" id="new-name" name="name" class="form-control" required></td>
                                        </tr>
                                        <tr>
                                            <td>Type:</td>
                                            <td>
                                                <select id="new-type" name="type" class="form-select">
                                                    <% for (var j = 0; j < hardwareTypes.length; j++ ) {%> 
                                                    <option value="<%= hardwareTypes[j]["type"] %>"><%= hardwareTypes[j]["type"] %></option>
                                                    <% } %>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Serial Number:</td>
                                            <td><input type="text" id="new-serial" name="serial" class="form-control" required></td>
                                        </tr>
                                        <tr>
                                            <td>Submit:</td>
                                            <td><input type="submit" id= "new_hardware" name="new_hardware" value="Add"
                                                class="btn btn-dark w-100 px-0 px-m-3" placeholder="Add New Hardware"></td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </td>    
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <% } %>
    <div class="container hardware-container">
        <table class="all-problem-table table table-bordered accordion">
            <thead>
                <tr class="table-secondary">
                    <th value = "0">Hardware ID</th>
                    <th value = "1" >Hardware Name</th>
                    <th value = "2" >Hardware Type</th>
                    <th value = "3" >Serial Number</th>
                </tr>
            </thead>
            
            <tbody id="view-hardware-table">
                <% for (var i = 0; i < hardware.length; i++ ) {%> <!-- Loop through hardware data to display and produce dropdown functions individually -->
                <tr class="visible-row accordion  equipment-row" data-bs-toggle="collapse">
                    <td>#<%= hardware[i]["hardware_id"] %> </td>
                    <td><%= hardware[i]["name"] %></td>
                    <td><%= hardware[i]["type"] %></td>
                    <td><%= hardware[i]["serial"] %> </td>
                </tr> 
                <tr class="accordion-collapse collapse" data-bs-parent=".all-problem-table">
                    <% if (role == "admin") { %> <!-- Only allow dropdown functions if user is an admin -->
                    <td class="hidden-data" colspan="4"> 
                        <div class="accordion-collapse collapse" data-bs-parent=".all-problem-table">
                            <br>
                            <form action="/updateHardware/<%= hardware[i]["hardware_id"] %>?_method=PATCH" method="POST">
                                <table class="hidden-table table table-striped table-bordered">
                                    <tr>
                                        <th>Update</th> 
                                        <td name="id">#<%= hardware[i]["hardware_id"] %></td> <!-- Display id of selected row -->
                                    </tr>
                                    <tr>
                                        <td>Name:</td> <!-- Pass data through to route to display on next page, saved as value if new data is not entered -->
                                        <td><input type="text" id="update-name" name="name" class="form-control" placeholder="<%= hardware[i]["name"] %>" value="<%= hardware[i]["name"] %>"></td>
                                    </tr>
                                    <tr>
                                        <td>Type:</td>
                                        <td> <!-- Pass data through to route to display on next page, saved as value if new data is not entered -->
                                            <select id="update-type" name="type" class="form-select">
                                                <% for (var j = 0; j < hardwareTypes.length; j++ ) {%> <!-- Loop through types to display and automatically display selected rows type -->
                                                    <% if (hardwareTypes[j]["type"] == hardware[i]["type"] ) {%>
                                                        <option selected><%= hardwareTypes[j]["type"] %></option>
                                                    <% } else { %>  
                                                        <option value="<%= hardwareTypes[j]["type"] %>"><%= hardwareTypes[j]["type"] %></option>   
                                                    <% } %>
                                                <% } %>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr hidden = "hidden"> <!-- Keep row hidden to not display but save value -->
                                        <td>Serial Number:</td> <!-- Pass data through to route to display on next page, saved as value as new data is not entered -->
                                        <td><input type="text" id="new-serial" name="serial" class="form-control" placeholder="<%= hardware[i]["serial"] %>" value="<%= hardware[i]["serial"] %>"></td>
                                    </tr>
                                    <tr>
                                        <td>Submit:</td>
                                        <td><input type="submit" id= "delete" name="delete" value="Delete"
                                            class="btn btn-dark w-50 px-0 px-m-3" placeholder="Delete"><input type="submit" id= "update" name="update" value="Update"
                                            class="btn btn-dark w-50 px-0 px-m-3" placeholder="Update"></td>
                                    </tr>
                                </table>
                            </form>
                            <br>
                        </div>
                    </td>
                    <% } %>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <% if (role == 'admin') { %> <!-- Allow add form only for admins -->
    <br>
    <div class="container software-container">
        <div class="container">
            <table class="all-problem-table table table-bordered accordion">
                <tbody id="view-addSoftware-table">
                    <tr class="visible-row accordion" data-bs-toggle="collapse">
                        <td>Add Software</td>
                    </tr> 
                    <tr class="accordion-collapse collapse" data-bs-parent=".all-problem-table">
                        <td class="hidden-data" colspan="4"> 
                            <div class="accordion-collapse collapse" data-bs-parent=".all-problem-table">
                                <form action="/addSoftware" method="POST">
                                    <table class="hidden-table table table-striped table-bordered">
                                        <tr>
                                            <th>Add New</th>
                                            <td>Enter Fields:</td>
                                        </tr>
                                        <tr>
                                            <td>Name:</td>
                                            <td><input type="text" id="new-name" name="name" class="form-control" required></td>
                                        </tr>
                                        <tr>
                                            <td>Type:</td>
                                            <td>
                                                <select id="new-type" name="type" class="form-select">
                                                    <% for (var j = 0; j < softwareTypes.length; j++ ) {%> 
                                                    <option value="<%= softwareTypes[j]["type"] %>"><%= softwareTypes[j]["type"] %></option>
                                                    <% } %>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>License Number:</td>
                                            <td><input type="text" id="new-serial" name="license" class="form-control" required></td>
                                        </tr>
                                        <tr>
                                            <td>Submit:</td>
                                            <td><input type="submit" id= "new_software" name="new_software" value="Add"
                                                class="btn btn-dark w-100 px-0 px-m-3" placeholder="Add New Software"></td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </td>    
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <% } %>
    <div class="container software-container">
        <table class="all-problem-table table table-bordered accordion">
            <thead>
                <tr class="table-secondary">
                    <th value = "0">Software ID</th>
                    <th value = "1" >Software Name</th>
                    <th value = "2" >Software Type</th>
                    <th value = "3" >License Number</th>
                </tr>
            </thead>
            <tbody id="view-software-table">
                <% for (var i = 0; i < software.length; i++ ) {%> <!-- Loop through hardware data to display and produce dropdown functions individually -->
                <tr class="visible-row accordion  equipment-row" data-bs-toggle="collapse">
                    <td>#<%= software[i]["software_id"] %> </td>
                    <td><%= software[i]["name"] %></td>
                    <td><%= software[i]["type"] %></td>
                    <td><%= software[i]["license"] %> </td>
                </tr> 
                <tr class="accordion-collapse collapse" data-bs-parent=".all-problem-table">
                    <% if (role == "admin") { %> <!-- Only allow dropdown functions if user is an admin -->
                    <td class="hidden-data" colspan="4">
                        <div class="accordion-collapse collapse" data-bs-parent=".all-problem-table">
                            <br>
                            <form action="/updateSoftware/<%= software[i]["software_id"] %>?_method=PATCH" method="POST">
                                <table class="hidden-table table table-striped table-bordered">
                                    <tr>
                                        <th>Update</th>
                                        <td name="id">#<%= software[i]["software_id"] %></td> <!-- Display id of selected row -->
                                    </tr>
                                    <tr>
                                        <td>Name:</td> <!-- Pass data through to route to display on next page, saved as value if new data is not entered -->
                                        <td><input type="text" id="update-name" name="name" class="form-control" placeholder="<%= software[i]["name"] %>" value="<%= software[i]["name"] %>"></td>
                                    </tr>
                                    <tr>
                                        <td>Type:</td>
                                        <td> <!-- Pass data through to route to display on next page, saved as value if new data is not entered -->
                                            <select id="update-type" name="type" class="form-select">
                                                <% for (var j = 0; j < softwareTypes.length; j++ ) {%> <!-- Loop through types to display and automatically display selected rows type -->
                                                    <% if (softwareTypes[j]["type"] == software[i]["type"] ) {%>
                                                        <option selected><%= softwareTypes[j]["type"] %></option>
                                                    <% } else { %>  
                                                        <option value="<%= softwareTypes[j]["type"] %>"><%= softwareTypes[j]["type"] %></option>   
                                                    <% } %>
                                                <% } %>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr hidden = "hidden"> <!-- Keep row hidden to not display but save value -->
                                        <td>License Number:</td> <!-- Pass data through to route to display on next page, saved as value as new data is not entered -->
                                        <td><input type="text" id="update-serial" name="license" class="form-control" value="<%= software[i]["license"] %>"></td>
                                    </tr>
                                    <tr>
                                        <td>Submit:</td>
                                        <td><input type="submit" id= "delete" name="delete" value="Delete"
                                            class="btn btn-dark w-50 px-0 px-m-3" placeholder="Delete"><input type="submit" id= "update" name="update" value="Update"
                                            class="btn btn-dark w-50 px-0 px-m-3" placeholder="Update"></td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </td>
                    <% } %>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <% if (role == 'admin') { %> <!-- Allow add form only for admins -->
    <br>
    <div class="container os-container">
        <div class="container">
            <table class="all-problem-table table table-bordered accordion">
                <tbody id="view-addOS-table">
                    <tr class="visible-row accordion" data-bs-toggle="collapse">
                        <td>Add OS</td>
                    </tr> 
                    <tr class="accordion-collapse collapse" data-bs-parent=".all-problem-table">
                        <td class="hidden-data" colspan="4"> 
                            <div class="accordion-collapse collapse" data-bs-parent=".all-problem-table">
                                <form action="/addOS" method="POST">
                                    <table class="hidden-table table table-striped table-bordered">
                                        <tr>
                                            <th>Add New</th>
                                            <td>Enter Fields:</td>
                                        </tr>
                                        <tr>
                                            <td>Name:</td>
                                            <td><input type="text" id="new-name" name="name" class="form-control" required></td>
                                        </tr>
                                        <tr>
                                            <td>Submit:</td>
                                            <td><input type="submit" id= "new_os" name="new_os" value="Add"
                                                class="btn btn-dark w-100 px-0 px-m-3" placeholder="Add New OS"></td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </td>    
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <% } %>
    <div class="container os-container">
        <table class="all-problem-table table table-bordered accordion">
            <thead>
                <tr class="table-secondary">
                    <th value = "0">OS ID</th>
                    <th value = "1" >OS Name</th>
                </tr>
            </thead>
            <tbody id="view-os-table">
                <% for (var i = 0; i < os.length; i++ ) {%> <!-- Loop through hardware data to display and produce dropdown functions individually -->
                <tr class="visible-row accordion  equipment-row" data-bs-toggle="collapse">
                    <td>#<%= os[i]["os_id"] %> </td>
                    <td><%= os[i]["name"] %></td>
                </tr>
                <tr class="accordion-collapse collapse" data-bs-parent=".all-problem-table">
                    <% if (role == "admin") { %> <!-- Only allow dropdown functions if user is an admin -->
                    <td class="hidden-data" colspan="4">
                        <div class="accordion-collapse collapse" data-bs-parent=".all-problem-table">
                            <br>
                            <form action="/updateOS/<%= os[i]["os_id"] %>?_method=PATCH" method="POST">
                                <table class="hidden-table table table-striped table-bordered">
                                    <tr>
                                        <th>Update</th>
                                        <td name="id_update">#<%= os[i]["os_id"] %></td> <!-- Display id of selected row -->
                                    </tr>
                                    <tr>
                                        <td>Name:</td> <!-- Pass data through to route to display on next page, saved as value if new data is not entered -->
                                        <td><input type="text" id="update-name" name="name" class="form-control" value="<%= os[i]["name"] %>"></td>
                                    </tr>
                                    <tr>
                                        <td>Submit:</td>
                                        <td><input type="submit" id= "delete" name="delete" value="Delete"
                                            class="btn btn-dark w-50 px-0 px-m-3" placeholder="Delete"><input type="submit" id= "update" name="update" value="Update"
                                            class="btn btn-dark w-50 px-0 px-m-3" placeholder="Update"></td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </td>
                    <% } %>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

        <script>
            var checkUrl = window.location.href;

            if (checkUrl.substring(checkUrl.length-12, checkUrl.length) == 'CannotDelete') {
                alert("Cannot Delete the Row");
                window.location = '/viewEquipment';
            }

        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>
